*{
  margin: 0;
  padding: 0;
  font-family: UD DIGI kyokasho NK-R, '微軟正黑體','Times New Roman', Times, serif;
}
@font-face {
  font-family: UD DIGI kyokasho NK-R;
  src: url("UDDigiKyokashoN-R.ttc");
}
body {
  background-color: #FBFFF9;
}
.person {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-left: 10px;
  margin-right: 10px;
}
.title {
  color: darkslateblue;
  font-size: 20px;
}
.about {
  width: 234px;
  height: 400px;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
button:hover, a:hover {
  opacity: 0.7;
}
.person table {
  text-align: center;
  margin: auto;
  width: 40px;
  height: 40px;
  margin: auto;
}
div.article_title {
  font-size: 36px;
  text-align: center;
  padding: 15px;
}
.table {
  position: absolute;
  left: 23%;
}