/*通用設定*/
*{
    margin: 0;
    padding: 0;
    font-family: UD DIGI kyokasho NK-R, '微軟正黑體','Times New Roman', Times, serif;
}
@font-face {
    font-family: UD DIGI kyokasho NK-R;
    src: url("UDDigiKyokashoN-R.ttc");
}
#header {
    height: 70px;
    background: #D29D00;
}
#Main {
    padding-bottom: 50px;
}
#footer {
    height: 50px;
    background: #C4C4C4;
    position: relative;
    margin-top: -50px;
}
#headset{
    float: right;
    width: 420px;
}
#A{
    float: right;
    height: 28px;
}
#B ul li {
    display:inline;
    float: right;
    padding: 10px;
}
#C ul li {
    margin-top: 10px;
    line-height: 30px;
    padding-left: 10px;
}
#footer_p {
    height: 50px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}
#login_logout {
    float: right;
    height: 28px;
    padding-right: 10px;
    padding-top: 5px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFED97;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.menu_click{
    position: absolute;
    left: 10px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: black;
    transition: 0.3s;
}
.sidenav a:hover {
    color: black;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}
#main {
    transition: margin-right .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
section{
    height: 130vh;/*頁面高度*/
    background-color: #FFF5C1;
}
aside{
    height: 130vh;/*頁面高度*/
    background-color: #FFED97;
    float: right;
    width: 200px;
}
nav{
    height: 130vh;/*頁面高度*/
    background-color: #FFED97;
    float: left;
    width: 215px;
}
#nav_div{
    width: 100%;
    height: 700px;
    position: sticky;
    position: -webkit-sticky;
    float: right;
    top: 0px;
    font-family: UD DIGI kyokasho NK-R, 'Times New Roman', Times, serif;
    float: center;
    text-align: center;
    font-size: 18px;
}
/*通用設定*/
.first {
    position: relative;
    height: 410px;
}
.second {
    position: relative;
    height: 360px;
}
.third {
    position: relative;
    height: 360px;
}
#picture {
    position: relative;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
}
#first_left {
    position: relative;
    float: left;
}
#text_title {
    font-size: 38px;
}
#first_left_bottom {
    position: relative;
    float: left;
    padding-top: 220px;
}
#text-set {
    font-size: 25px;
}
#text-set2 {
    font-size: 25px;
}
#text_set3 {
    font-size: 20px;
}
#submit-set {
    border: 0;
    border-radius: 10px;
    background-color: rgb(243,152,0);
    height: 40px;
    width: 60px;
    font-size: 20px;
}
#number-set {
    border: 0;
    border-radius: 5px;
    height: 35px;
    width: 40px;
    font-size: 20px;
}
#picture-set {
    border: 0;
    border-radius: 20px;
}
#text-set {
    font-size: 25px;
    text-align: left;
}
textarea {
    width: 700px;
    height: 150px;
}
#namebox {
    border: 0;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    font-style: 25px;
}
#comment {    
    border: 0;
    border-radius: 10px;
    width: 550px;
    height: 120px;
    font-size: 25px;
}
#table-set {
    margin:0 auto;
    padding-top: 5px;
    min-width: 400px;
    text-align: left;
    width: 100vh;
}