
#color-set {
    background-color: #301C10;
    color:oldlace;
    text-align: center;
}
#text-set3 {
    font-size: 35px;
    font-family: "標楷體";
    text-align: center;
}
#table-set {
    position: absolute;
    left: 25%;
    text-align: center;
}