#footer {
    position: absolute;
    width: 1920px;
    height: 90px;
    left: 0px;
    top: 934px;
    background: #C4C4C4;
}
#footer_p {
    position: absolute;
    width: 600px;
    height: 90px;
    left: 500px;
    top: 934px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}