p{
    margin: 0;
    padding: 0;
} 
body{

    font-family: 微軟正黑體;
    margin: 0;
    padding: 0;

}
.head_style{
    vertical-align: middle;
    line-height: 75px;
    background-color:#BE9393;
    color:white;
    font-size:36px;
    text-align:center;
    height:75px;
    border-bottom:#CFAFAF solid 1px;
}
.foot_style p{
  margin:0;
  padding: 0;
}
.foot_style{
    background-color:#5B5858;
    color:white;
    text-align:center;
    font-size:8px;
    line-height:12px;
}
#sidebar_left{
    background-image:
    linear-gradient(to top, #DEAC62,#BE9393 );
    width:5%;
    min-height:1700px;
    text-align:center;
    line-height:400px;
    float:left;
    border:#CFAFAF solid 1px;
}
#sidebar_right{
    background-image:
    linear-gradient(to top, #DEAC62,#BE9393 );
    width:5%;
    min-height:1700px;
    text-align:center;
    line-height:400px;
    float:right;
    border:#CFAFAF solid 1px;
}    
#content{
    min-height:1700px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 30px;
    text-align: center;
}
.fb,.ig,.mail{
    width: 40px;
}
.icon img{
    margin: 10px;
}