
#sidebar_left,#sidebar_right,#content{
    min-height:1700px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 30px;
    text-align: center;
} 
.fb,.ig,.mail{
    width: 40px;
}
.icon img{
    margin: 10px;
}


.pic {
    text-align: left;
    position: relative;
    width: 360px;

}
.mask {
    text-indent: 2em;
    line-height: 30px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    opacity: 0;
}
.mask h3 {
    font-size: 22px;
    padding: 25px 10px;
    vertical-align: bottom;

}
.pic:hover .mask {
    background: rgba(0,0,0, 0.5);
    opacity: 1;   
}