video.a{
	    padding-top: 50px;
		padding-left: 50px;
		padding-bottom: 50px;
        padding-right: 50px;

    	}


h1{
	color:white;
	font-family:"微軟正黑體";
	font-size:50px;


  }

td.b{
        padding-top: 50px;
		padding-left: 50px;
	    padding-bottom: 50px;
        padding-right: 50px;
        font-size:30px;
        font-family:"標楷體"
	

    }

a.c{
	font-size:50px;	
	color:white;
	padding-left:38%;


   }